@import "tailwindcss";
@plugin '@midudev/tailwind-animations';
 @plugin '../hero.ts';
@plugin "@midudev/tailwind-animations";
 @source '../../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
 @custom-variant dark (&:is(.dark *));

